.link{
    margin-right: 2rem;
    font-family: var(--fonte-texto);
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
    text-decoration: underline;
}