.lineUp{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.lineUp h1 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.imagem{
    width: 100%;
    height: 340px;
    object-fit: cover;
    mix-blend-mode: multiply;
}