.grid__container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 60px 200px;
    row-gap: 100px;
    column-gap: 20px;
}

.grid__item__left{
    text-align: left;
    padding: 1rem;
}

.grid__item__rigth{
    text-align: right;
    padding: 1rem;
}

.h6 {
    color: #FFFFFF;
    font-family: var(--fonte-texto);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 2rem;
}

.p{
    color: #FFFFFF;
    font-family: var(--fonte-texto);
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align:justify;
}