.h3{
    color: #FFFFFF;
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2.5rem 0;
}

.container{
    margin-bottom: 4rem;
}

@media (max-width: 768px) {
    .h3{
        font-size: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .h3{
        font-size: 46px;
    }
}

