:root {
  --roxo: #4650BD;
  --verde-escuro: #008364;
  --cinza-claro: #B6BCFF;
  --cinza-escuro: #304968;
  --verde-claro: #304968;
  --degrade: linear-gradient(180deg, #304968 0%, #36C1A0 50%, #4650BD 100%);
  --fonte-titulo: 'Calistoga', sans-serif;
  --fonte-texto: 'Raleway', sans-serif;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  text-transform: capitalize;
  line-height: 1.25;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

body{
  font-family: var(--fonte-texto);
  background-image: var(--degrade);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}